:root {
    --display-font-family: "Poppins", Helvetica;
    --display-font-weight: 500;
    --display-font-size: 40px;
    --display-letter-spacing: 0px;
    --display-line-height: 56px;
    --display-font-style: normal;
    --subheading-font-family: "Poppins", Helvetica;
    --subheading-font-weight: 300;
    --subheading-font-size: 20px;
    --subheading-letter-spacing: 0px;
    --subheading-line-height: 32px;
    --subheading-font-style: normal;
    --caption-font-family: "Poppins", Helvetica;
    --caption-font-weight: 300;
    --caption-font-size: 10px;
    --caption-letter-spacing: 0px;
    --caption-line-height: normal;
    --caption-font-style: normal;
    --button-font-family: "Poppins", Helvetica;
    --button-font-weight: 500;
    --button-font-size: 16px;
    --button-letter-spacing: 0px;
    --button-line-height: normal;
    --button-font-style: normal;
    --h1-regular-font-family: "Poppins", Helvetica;
    --h1-regular-font-weight: 300;
    --h1-regular-font-size: 32px;
    --h1-regular-letter-spacing: 0px;
    --h1-regular-line-height: 48px;
    --h1-regular-font-style: normal;
    --h1-semibold-font-family: "Poppins", Helvetica;
    --h1-semibold-font-weight: 500;
    --h1-semibold-font-size: 32px;
    --h1-semibold-letter-spacing: 0px;
    --h1-semibold-line-height: 48px;
    --h1-semibold-font-style: normal;
    --h2-regular-font-family: "Poppins", Helvetica;
    --h2-regular-font-weight: 300;
    --h2-regular-font-size: 24px;
    --h2-regular-letter-spacing: 0px;
    --h2-regular-line-height: 32px;
    --h2-regular-font-style: normal;
    --h2-semibold-font-family: "Poppins", Helvetica;
    --h2-semibold-font-weight: 500;
    --h2-semibold-font-size: 24px;
    --h2-semibold-letter-spacing: 0px;
    --h2-semibold-line-height: 32px;
    --h2-semibold-font-style: normal;
    --p1-regular-font-family: "Poppins", Helvetica;
    --p1-regular-font-weight: 300;
    --p1-regular-font-size: 16px;
    --p1-regular-letter-spacing: 0px;
    --p1-regular-line-height: 24px;
    --p1-regular-font-style: normal;
    --p1-light-font-family: "Poppins", Helvetica;
    --p1-light-font-weight: 200;
    --p1-light-font-size: 16px;
    --p1-light-letter-spacing: 0px;
    --p1-light-line-height: 24px;
    --p1-light-font-style: normal;
    --p1-medium-font-family: "Poppins", Helvetica;
    --p1-medium-font-weight: 400;
    --p1-medium-font-size: 16px;
    --p1-medium-letter-spacing: 0px;
    --p1-medium-line-height: 24px;
    --p1-medium-font-style: normal;
    --p1-semibold-font-family: "Poppins", Helvetica;
    --p1-semibold-font-weight: 500;
    --p1-semibold-font-size: 16px;
    --p1-semibold-letter-spacing: 0px;
    --p1-semibold-line-height: 24px;
    --p1-semibold-font-style: normal;
    --p2-regular-font-family: "Poppins", Helvetica;
    --p2-regular-font-weight: 300;
    --p2-regular-font-size: 14px;
    --p2-regular-letter-spacing: 0px;
    --p2-regular-line-height: 20px;
    --p2-regular-font-style: normal;
    --p2-light-font-family: "Poppins", Helvetica;
    --p2-light-font-weight: 200;
    --p2-light-font-size: 14px;
    --p2-light-letter-spacing: 0px;
    --p2-light-line-height: 20px;
    --p2-light-font-style: normal;
    --p2-medium-font-family: "Poppins", Helvetica;
    --p2-medium-font-weight: 400;
    --p2-medium-font-size: 14px;
    --p2-medium-letter-spacing: 0px;
    --p2-medium-line-height: 20px;
    --p2-medium-font-style: normal;
    --p2-semibold-font-family: "Poppins", Helvetica;
    --p2-semibold-font-weight: 500;
    --p2-semibold-font-size: 14px;
    --p2-semibold-letter-spacing: 0px;
    --p2-semibold-line-height: 20px;
    --p2-semibold-font-style: normal;
    --p2-light-italic-font-family: "Poppins", Helvetica;
    --p2-light-italic-font-weight: 200;
    --p2-light-italic-font-size: 14px;
    --p2-light-italic-letter-spacing: 0px;
    --p2-light-italic-line-height: 20px;
    --p2-light-italic-font-style: italic;
    --card: 0px 4px 40px 0px rgba(22, 15, 96, 0.2);
    --color-neutral-0: rgba(255, 255, 255, 1);
    --color-neutral-50: rgba(239, 239, 248, 1);
    --color-neutral-100: rgba(225, 225, 241, 1);
    --color-neutral-150: rgba(219, 219, 236, 1);
    --color-neutral-200: rgba(213, 213, 233, 1);
    --color-neutral-300: rgba(201, 201, 224, 1);
    --color-neutral-400: rgba(177, 177, 207, 1);
    --color-neutral-500: rgba(155, 154, 184, 1);
    --color-neutral-600: rgba(132, 130, 159, 1);
    --color-neutral-700: rgba(110, 108, 135, 1);
    --color-neutral-800: rgba(88, 84, 111, 1);
    --color-neutral-850: rgba(76, 72, 99, 1);
    --color-neutral-900: rgba(66, 62, 88, 1);
    --color-neutral-950: rgba(43, 38, 63, 1);
    --color-neutral-1000: rgba(0, 0, 0, 1);
    --color-brand-primary-50: rgba(242, 238, 255, 1);
    --color-brand-primary-100: rgba(229, 221, 255, 1);
    --color-brand-primary-150: rgba(216, 204, 255, 1);
    --color-brand-primary-200: rgba(203, 187, 255, 1);
    --color-brand-primary-300: rgba(177, 154, 255, 1);
    --color-brand-primary-400: rgba(151, 120, 255, 1);
    --color-brand-primary-500: rgba(125, 86, 255, 1);
    --color-brand-primary-600: rgba(102, 69, 213, 1);
    --color-brand-primary-700: rgba(79, 52, 171, 1);
    --color-brand-primary-800: rgba(56, 34, 129, 1);
    --color-brand-primary-850: rgba(45, 26, 108, 1);
    --color-brand-primary-900: rgba(33, 17, 87, 1);
    --color-brand-primary-950: rgba(22, 9, 66, 1);
    --color-brand-secondary-50: rgba(253, 246, 229, 1);
    --color-brand-secondary-100: rgba(252, 237, 204, 1);
    --color-brand-secondary-150: rgba(250, 228, 178, 1);
    --color-brand-secondary-200: rgba(249, 219, 153, 1);
    --color-brand-secondary-300: rgba(246, 200, 102, 1);
    --color-brand-secondary-400: rgba(243, 182, 51, 1);
    --color-brand-secondary-500: rgba(240, 164, 0, 1);
    --color-brand-secondary-600: rgba(192, 131, 0, 1);
    --color-brand-secondary-700: rgba(144, 98, 0, 1);
    --color-brand-secondary-800: rgba(96, 66, 0, 1);
    --color-brand-secondary-850: rgba(72, 49, 0, 1);
    --color-brand-secondary-900: rgba(48, 33, 0, 1);
    --color-brand-secondary-950: rgba(24, 16, 0, 1);
    --color-error-500: rgba(236, 79, 61, 1);
    --radius-none: 0px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 24px;
    --radius-rounded: 999px;
}
